body {
    font-family: Arial;
    background-color: #e5e5e5;
}
input {
    margin-bottom: 12px;
}
input[type=button] {
    background-color: #00AA00;
    border-color: #00AA00;
}
input[type=reset] {
    background-color: #AAAA00;
    border-color: #AAAA00;
}
.botao {
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    border-style: solid;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 20px;
}